<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="headerleft">
<%= image_tag @weather, :width => "100" %>
</div>

<div id="headerright">
</div>

<div id="main">
	<br />
	<h1>SolarWash-Infoseite</h1>
	<div id="graph">
	   <%= image_tag "/graph/show", :width => "500"%>
           <%= image_tag "sq_plus_icon.png"%>
	</div>
</div>

<div id="footer">
</div>

<% "home.html" %>
