<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="headerleft">
<%= image_tag "Sunny.png", :width => "100" %>
</div>

<div id="headerright">
</div>

<div id="main">
	<%= image_tag "/graph/show", :width => "500"%>
</div>

<div id="footer">
</div>

<% "home.html" %>
