// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#headerleft {
    height: 100px;
    float: left;
}

#headerright {
    height: 100px;
    float: right;
}

#main {
    height: 584px;
    width: 836px;
    background-image: url(SolarWashBackground.png);
    padding: 0;
}
#scaling {
    position:relative;
    float:right;
    
}

#graph {
    padding: 0;
        margin-left:4.5em;
        top:11.5em;
        position:absolute;
}
#footer {
    padding: 0;
}