// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#headerleft {
    height: 100px;
    float: left;
}

#headerright {
    height: 100px;
    float: right;
}

#main {
    padding: 0;
}

#footer {
    padding: 0;
}